*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.container{
  width: 60%;
  margin: 10% auto;
}

h1{
  color: white;
}

.listItems{
  background-color:white;
  color: #56529d;
}

.listItems .error {
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.listItems span{
  display: inline-block;
  text-align: center;
  padding: 10px 12px;
  font-size: 20px;
  border:0.3px solid #ccc;
}

.listItems span.title{
  background: #2ebaee;
  color: white;
}

.listItems span.name,
form input[type='text'] {
  width:60%
}

.listItems span.age,
form input[type='number'] {
  width: 30%;
}

span.icon{
  cursor: pointer;
  padding: 10px 33px;
}
form input[type='text'] span.action,
button{
  width: 10%;
}

form input[type='text'] span.icon{
  color: #2ebaee;
  cursor: pointer;
}

form input{
  padding: 10px;
  background: #ebebeb;
  border:0.3px solid #ccc
}

form button{
  background: #2ebaee;
  border:0.3px solid #2ebaee;
  color:white;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 6px 10px 8px;
}